@import 'tailwindcss';
@theme inline {
  --breakpoint-md: 768px;
  --color-primary: var(--c-primary);
  --color-secondary: var(--c-secondary);
  --color-background: var(--c-background);
  --color-background-dark: var(--c-background-dark);
  --color-text: var(--c-text);
  --color-card: var(--c-card);
  --color-border: var(--c-border);
  --color-input: var(--c-input);
  --color-danger: var(--c-danger);
  --color-danger-content: var(--c-danger-content);
  --color-success: var(--c-success);
  --color-warning: var(--c-warning);
  --color-info: var(--c-info);
  --color-auth-input: var(--c-auth-input);
  --font-main: 'Nunito Sans', sans-serif;
}
.ant-menu-item-selected {
  background-color: var(--c-primary) !important;
  color: white !important;
  overflow: visible !important;
}
html[lang='ar'] .ant-menu-item-selected::before {
  right: -33px;
}
.ant-menu-item-selected::before {
  content: '';
  position: absolute;
  top: 0;
  left: -33px;
  width: 9px;
  height: 100%;
  background-color: var(--c-primary) !important;
  border-radius: 4px;
}
html[lang='ar'] .ant-layout-sider-collapsed .ant-menu-item-selected::before {
  right: -10px;
}
.ant-layout-sider-collapsed .ant-menu-item-selected::before {
  left: -10px;
  width: 4px;
}
html[lang='ar'] .ant-menu-title-content {
  margin: 0 16px 0 0 !important;
}
.ant-menu-title-content {
  margin: 0 0 0 16px !important;
}
.slick-prev::after,
.slick-next::after {
  display: none !important;
}
.ant-drawer-content-wrapper {
  max-width: 240px !important;
}
