@import 'tailwindcss';

@theme inline {
  --color-primary: var(--c-primary);
  --color-secondary: var(--c-secondary);
  --color-background: var(--c-background);
  --color-background-dark: var(--c-background-dark);
  --color-text: var(--c-text);
  --color-card: var(--c-card);
  --color-border: var(--c-border);
  --color-input: var(--c-input);
  --color-danger: var(--c-danger);
  --color-danger-content: var(--c-danger-content);
  --color-success: var(--c-success);
  --color-warning: var(--c-warning);
  --color-info: var(--c-info);
  --font-main: Arial, Helvetica, sans-serif;
}
.ant-menu-item-selected {
  background-color: var(--c-primary) !important;
  color: white !important;
}
